//fonts

@font-face {
    font-family: 'bebas_neuebook';
    src: url('bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:700&subset=cyrillic');

.font-header{
	font-family: 'Playfair Display';
	font-weight: 700;
	letter-spacing: 0.010em;
}

.font-accent{
	font-family: 'bebas_neuebook';
	letter-spacing: 0.075em;
	font-size: 26px;
}

.font-text{
	font-family: 'Montserrat';
}







//colors

@color-accent:#ac7e42;
@color-accent-light:#fbc37b;
@color-outline:#efdbc0;
@color-text:#6d4f28;
@color-bg:#f4f4f2;
@color-bg-light:#fcfcfa;
@color-shadow:#4d2c00;






//main

label,p{
	margin: 0;
	padding: 0;
}

html{
	font-size: 13px;
}

body{
	font-size: 16px;
	line-height: 26px;
	color:@color-text;
	.font-text;
	background-color: @color-bg;
}

a{
	text-decoration: none;
	color:@color-text;

	&:hover{
		text-decoration: none;
		cursor: pointer;
		color: lighten(@color-text,30%);
	}

	&:focus{
		color:@color-text;
		outline: none;

		&:hover{
			color: lighten(@color-text,30%);
		}
	}
}

.h1_like{
	.font-header;
	font-size: 42px;
	line-height: 52px;
	color:@color-accent;
}

span{
	white-space: nowrap;
}

input{
	border: 1px solid @color-outline;
	height: 39px;
	padding-left: 1rem;
	&:focus{
		outline-color:@color-accent;
	}
}

.btn_ctm{
	width: 100%;
	height: 52px;
	background-color: @color-accent;
	color:#fff;
	.font-accent;
	border: none;

	max-width:272px;

	&:hover{
		cursor: pointer;
		background-color: lighten(@color-accent,5%);
	}

	&:focus{
		background-color: darken(@color-accent,5%);
		outline: none;
	}
}

.nav{
			padding-top: 1.5rem;
			&__list{
				width: 100%;
				list-style: none;
				display: flex;
				justify-content: center;
				padding: 0;
				&__item{
					padding: 0 0.5rem;
					margin: 0 0.5rem;
	
					&-active{
						border-bottom: 1px solid @color-accent-light;
					}
				}

			}
}

.header__main, .features, .options__card, .reviews__card, .header__cards__card{
	visibility: hidden;
}



//specific


//hotel
.header{
	background: url('../img/header_bg.jpg') center center no-repeat;
	background-size: cover;

	position: relative;
	


	&:before{
		content: "";
		background: url("../img/header_bottom.png") center bottom no-repeat;

		position: absolute;
		bottom:0;
		width: 100%;
		height: 100px;
	}

	&__top{
		padding-top: 2rem;
		&__logo{
			display: block;
			max-height: 65px;
			width: auto;
		}


		&__contacts{
			padding-top: 0.5rem;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			&__phone{
				.font-accent;
			}

			&__call{
				font-size: 11px;
				line-height: 13px;
				text-decoration: underline;
				text-align: left;
				background-color: transparent;
				border: none;

				&:hover{
					text-decoration: none;
					cursor: pointer;
					color: lighten(@color-text,30%);
				}

				&:focus{
					color:@color-text;
					outline: none;

					&:hover{
						color: lighten(@color-text,30%);
					}
				}
			}
		}
	}

	&__main{
		
		&__text{
			margin-top: 9rem;
		}

		&__shares{
			display: flex;
			margin-top: 4rem;
			justify-content: flex-start;
			flex-wrap: wrap;
			&__item{
				display: block;
				width:156px;
				height: 156px;
				background-color:  @color-bg-light;
				padding: 26px 13px 0;
				margin-right: 2rem;
				margin-top: 2rem;

				-webkit-box-shadow: 0px 18px 43px 0px rgba(77,44,0,0.04);
				-moz-box-shadow: 0px 18px 43px 0px rgba(77,44,0,0.04);
				box-shadow: 0px 18px 43px 0px rgba(77,44,0,0.04);

			}
		}

		&__form{
			display: block;
			background-color: @color-bg-light;
			padding: 3rem 3rem;
			margin-top: 6rem;

			-webkit-box-shadow: 0px 22px 114px 0px rgba(77,44,0,0.08);
			-moz-box-shadow: 0px 22px 114px 0px rgba(77,44,0,0.08);
			box-shadow: 0px 22px 114px 0px rgba(77,44,0,0.08);

			&__text{
				.font-accent;
				display: block;
			}
			
			&__label{
				display: block;
				margin-top: 2rem;
			}

			&__input{
				width: 100%;
				margin-top: 0.5rem;
			}

			&__btn{
				margin-top: 4rem;
			}


		}

	}

	//index

	&-index{
            background: url('../img/crown.png') center right no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
            &:before{
            background: none;
            }
        }

	&__cards{
		margin-top: 2rem;
		padding-bottom: 6rem;
		&__card{
			margin-top: 6rem;
			display: block;
			background-color: @color-bg-light;
			text-align: center;
			padding-bottom: 6rem;
			box-shadow: 0px 22px 79px 0px rgba(77,44,0,0.1);

			transition: all 0.3s 0s ease-out;
			&__icon{
				max-height: 130px;
				margin-top: 6rem;
			}

			&__title{
				.font-accent;
				margin-top: 3rem;
			}

			&:hover{
				color:@color-text;
				box-shadow: 0px 32px 79px 0px rgba(77,44,0,0.21);
				background-color: #fff;
				transform: translateY(-1rem); 
			}
		}
	}

}




.features{
	padding-bottom: 6rem;
	&__item{

		background-color: @color-bg-light;
		padding: 3rem 2rem 2rem;
		min-height: 19rem;
		margin-top: 6rem;

		box-shadow: 0px 18px 63px 0px rgba(77,44,0,0.07);
	
		&__img{
			display: block;
			max-height:78px; 
			margin-left: auto;
			margin-right: auto;
		}

		&__text{
			margin-top: 2rem;
			text-align: center;
		}
	}
}


.options{

	&__card{

		background-color: @color-bg-light;
		box-shadow: 0px 22px 79px 0px rgba(77,44,0,0.1);
		margin-top: 6rem;

		display: flex;

		

		&__info{
			padding-left: 6rem;
			padding-right: 4rem;
			padding-bottom: 6rem;

			position: relative;

			width: 50%;
			&__name{
				margin-top: 4rem;
				display: inline-block;
			}

			&__description{
				margin-top: 2rem;

				&__list{
					padding: 0;
					list-style: none;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					-webkit-flex-direction: column;
					-moz-flex-direction: column;
					-ms-flex-direction: column;
					-o-flex-direction: column;
					flex-direction: column;

					flex-wrap: wrap;

					&__item{

						display: block;
						margin-right: 2rem;

						&:before{
							content:"—";
							padding-right: 6px;
						}
						
					}


				}
			}

			&__cost{
				margin-top: 2rem;
				&__number{
					.font-accent;
					font-size: 42px;
					line-height: 52px;
				}
			}

			&__btn{
				margin-top: 3rem;
				max-width:272px;
			}

		}

		&__carousel{
	
			max-height: 37rem;
			overflow: hidden;
			width: 50%;
				
			&__item{

				
				&:focus{
						outline: none;
				}

				&__img{
				display: block;
				width: 100%;
				height: 100%;
				}
			}

			
		}
	}

	&-sauna{
		
		.options__card__info{
			padding-bottom: 5rem;
		}

		.options__card__info__name{
			margin-top: 3rem;
		}

	}

	&-hostel{
		.options__card__info__name{
			margin-top: 8rem;
		}

		.options__card__info__btn{
			margin-top: 8rem;
		}
	}
}


.reviews{
	margin-top: 12rem;
	
	&__card{
		background-color: @color-bg-light;
		box-shadow: 0px 22px 79px 0px rgba(77,44,0,0.1);
		padding-bottom: 6rem;
		&__header{
			text-align: center;
			margin-top: 4rem;
		}

		&__carousel{
			
			margin-top: 3rem;
			
			&__item{

				&:focus{
					outline: none;
				}
				&__name{
					.font-accent;
				}

				&__text{
					margin-top: 1rem;
				}

			}

			.slick-prev{
				left:-10rem;
				&:before{
					background: url("../img/arrow_left.png") left center no-repeat;
				}
			}

			.slick-next{
				right:-9rem;
				&:before{
					background: url("../img/arrow_right.png") right center no-repeat;
				}
			}
		}

		&__btn{
			display: block;
			margin-top: 6rem;
			margin-left: auto;
			margin-right: auto;
			color:@color-text;
			background-color: transparent;
			border:1px solid @color-accent-light;

			&:hover{
				background-color: @color-accent-light;
			}			

			&:focus{
				background-color: darken(@color-accent-light,10%);
			}
		}
	}
}


.footer{

	padding-bottom: 2rem;

	&__map{
		margin-top: 12rem;
	}

	&__info{
		margin-top: 3rem;
		&__nav{
			padding-top: 0;
		}

		&__devs{
			text-align: right;
		}
	}
}


.modal{
	text-align: center;
	margin-top: 12vh;
	

	&-content{
		border-radius:0;
		border: none;
	}

	&__header{
		.font-accent;
		font-size: 26px;
		margin-top: 4rem;
	}

	&__form{
		padding-bottom: 4rem;


		&__phone{
			margin-top: 2rem;
			display: block;
			width: 100%;
			max-width:273px;
			margin-left: auto;
			margin-right: auto;
		}

		&__btn{
			margin-top: 4rem;
		}
	}

	&-reserve{
		text-align: left;
		.header__main__form{
			margin-top: 0;
		}

		.header__main__form__btn{
			display: block;
			margin-left: auto;
			margin-right: auto;

		}
	}

	&-review{
		text-align: left;
		.header__main__form{
			margin-top: 0;
		}

	}

	&__textarea{
		
		border: 1px solid @color-outline;

		&:focus{
			outline-color: @color-accent;
		};
	}
}

.reserve{
	
	background: none;
	.options__card{
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;

		&__info{
			width: 100%;
		}

		&__carousel{
			width: 100%;
			
		}
	}

	input[type="radio"]{
		height: auto;

		&:focus{
			outline: none;
		}
	}

	.pay__label{
		margin-top:1rem;
		margin-right: 1rem;
	}
}



.shares{
	background: none;

	padding-bottom: 4rem;

	.header__shares__title{
		text-align: center;
		margin-top: 2rem;
	}

	.header__shares__item{
		background-color: @color-bg-light;
		box-shadow: 0px 22px 79px 0px rgba(77,44,0,0.1);
		margin-top: 4rem;
		padding: 2rem 4rem;
	}
}





















//datapicker
.datepicker{
	border: none;
	border-radius: 0;
	z-index: 9990;
	.font-text;
	color:@color-text;

	box-shadow: 0px 10px 43px 0px rgba(77,44,0,0.12);

	&--cell, &--nav-title, &--nav-action{
		border-radius:0;
	}
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-, .datepicker--cell.-selected-.-focus-{
	background-color: @color-accent;
}

.datepicker--cell.-current-{
	color:@color-accent;
}


//carousel

.slick-next, .slick-prev{
	width: 3rem;
	height: 5rem;
}

.slick-next{
	right: 2rem;

	&:before{
		content:"";
		background: url("../img/arrow_right-white.png") right center no-repeat;
		display: block;
		width: 3rem;
		height: 5rem;
			
	};
}

.slick-prev{
	left: 2rem;
	z-index: 1;
	&:before{
		content:"";
		background: url("../img/arrow_left-white.png") left center no-repeat;
		display: block;
		width: 3rem;
		height: 5rem;	
	};
}















//adaptive

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	
	html{
		font-size: 8px;
	}

	.btn_ctm{
		max-width:100%;
	}

	.xs_hidden{
		display: none;
	}

	.header{
		&__top{
			&__logo{
			margin-left: auto;
			margin-right: auto;
			}

			&__contacts{
				margin-top: 2rem;
				justify-content: center;
			}
		}

		&__main{
			&__text{
				font-size: 26px;
				line-height: 32px;
				text-align: center;
			}

			&__shares{
				justify-content: space-around;
				&__item{
					width: 129px;
					margin-right: 0;
					padding-top: 13px;
				}
			}
		}

	}
	
	.options__card{
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;


		
		&__info{
			width: 100%;
			padding-left: 3rem;
			&__name{

			}
		}

		&__carousel{
			width: 100%;
			
		}
	}

	.reviews__card__carousel .slick-prev{
		left: -4rem	;
	}

	.reviews__card__carousel .slick-next{
		right: -4rem	;
	}

	.footer{
		text-align: center;
		&__info__devs{
			text-align: center;
		}
	}

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	html{
		font-size: 8px;
	}

	.btn_ctm{
		max-width:100%;
	}

	.header__top__logo{
		margin-left: auto;
		margin-right: auto;
	}

	.header__top__contacts{
		justify-content: space-between;
		text-align: center;
		margin-top: 2rem;
	}

	.header__main__text{
		font-size: 26px;
		line-height: 32px;
	}

	.header__main__shares{
		justify-content: space-between;
		margin-top: 0rem;
	}
	.header__main__shares__item{
		margin-right: 0;
	}
	
	.options__card{
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;

		&__info{
			width: 100%;
		}

		&__carousel{
			width: 100%;
			
		}
	}

	.reviews__card__carousel .slick-prev{
		left: -5rem	;
	}

	.reviews__card__carousel .slick-next{
		right: -5rem	;
	}

	.footer{
		text-align: center;
		&__info__devs{
			text-align: center;
		}
	}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	html{
		font-size: 10px;
	}

	.btn_ctm{
		max-width:100%;
	}

	.options__card{
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;

		&__info{
			width: 100%;
		}

		&__carousel{
			width: 100%;
			max-height: 60rem;
		}
	}

	.reviews__card__carousel .slick-prev{
		left: -5rem	;
	}

	.reviews__card__carousel .slick-next{
		right: -5rem	;
	}

	.footer{
		text-align: center;
		&__info__devs{
			text-align: center;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

	
	.header__main__shares{
		justify-content: space-between;
		margin-top: 0rem;
	}
	.header__main__shares__item{
		margin-right: 0;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

	.options__card:nth-child(even){
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.reserve{
		.options__card:nth-child(even){
			-webkit-flex-direction: column-reverse;
			-moz-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			-o-flex-direction: column-reverse;
			flex-direction: column-reverse;
		}

		.header__main__form{
			position: fixed;
		}
	}

	.options__card__info__description__list{
		max-height: 117px;
		&__item{
			max-width: 200px;
		}
	}
}
